.first-screen{
	background: url('../img/first.png');	
	background-size: cover;
	background-position: center;
}

.welcome{
	padding: 300px 0;
	color: #fff;
	&__title{
		font-weight: 600;
		font-size: 80px;
		span{
			color: #a9dd67;
			display: block;
		}
	}
	&__description{
		max-width: 800px;
		font-weight: 500;
		font-size: 24px;
		padding-top: 35px;
		span{
			color: #a9dd67;
		}
	}
	&-btns{
		padding-top: 50px;
		display: flex;
		flex-flow: row wrap;
		.btn-c{
			margin-right: 35px;
		}
	}
}

//about-us
.about-us{
	&-wrapper{
		display: flex;
		flex-flow: row wrap;
		padding: 70px 0;
	}
	&-text{
		flex:1 0;
	}
	&-img{
		margin-right: -220px;
	}
	&__title{
		padding-top:50px;
		font-weight: 600;
		font-size: 26px;
		color: #a9dd67;
	}
	&__description{
		font-size: 20px;
		padding: 20px 0;
	}
	&-catalog{
		display: flex;
		flex-flow: row wrap;
		&__wrap{
			padding: 0 15px;
		}
		&__title{
			font-weight: 600;
			padding: 10px 0;
		}
		&-buy{
			display: flex;
			justify-content: space-between;
			&__btn{
				
			}
		}
	}
}