
.first-screen{
	background: url('../img/first.png');	
	background-size: cover;
	background-position: center;
}

.welcome{
	padding: 300px 0;
	color: #fff;
	&__title{
		font-weight: 600;
		font-size: 80px;
		span{
			color: #a9dd67;
			display: block;
		}
	}
	&__description{
		max-width: 800px;
		font-weight: 500;
		font-size: 24px;
		padding-top: 35px;
		span{
			color: #a9dd67;
		}
	}
	&-btns{
		padding-top: 50px;
		display: flex;
		flex-flow: row wrap;
		.btn-c{
			margin-right: 35px;
		}
	}
}

//about-us
.about-us{
	&-wrapper{
		display: flex;
		flex-flow: row wrap;
		padding: 70px 0;
	}
	&-text{
		flex:1 0;
	}
	&-img{
		margin-right: -220px;
	}
	&__title{
		padding-top:50px;
		font-weight: 600;
		font-size: 26px;
		color: #a9dd67;
	}
	&__description{
		font-size: 20px;
		padding: 20px 0;
	}
	&-catalog{
		display: flex;
		flex-flow: row wrap;
		&__wrap{
			padding: 0 15px;
			margin-bottom: 30px;
		}
		&__title{
			font-weight: 600;
			padding: 10px 0;
		}
		&-buy{
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__btn{
				a{
					height: 30px;
					width: 120px;
					display: flex;
					border-radius: 120px;
					background: #a9dd67;
					align-items: center;
					justify-content: center;
				}
				svg{
					width: 13px;
					height: 13px;
				}
				span{
					font-size: 14px;
					margin-left: 5px;
				}
			}
		}
	}
	&__btn{
		margin-bottom: 70px;
		a{
			margin: 0 auto;
		}
	}
}

//more-info

.more-info{
	padding-top: 50px;
	&-wrap{
		display: flex;
		flex-flow: row wrap;
		padding: 0 15px;
	}
	&-img{
		flex: 0 0 560px;
	}
	&-text{
		flex: 1 0;
		padding-left: 75px;
	}
	&__subtitle{
		font-weight: 600;
		font-size: 26px;
		text-transform: uppercase;
		color: #a9dd67;
		padding: 30px 0 20px 0;
	}
	&__description{
		font-size: 20px;
		margin-bottom: 15px;
	}
	&-triggers{
		display: flex;
		flex-flow: row wrap;
		&__wrap{
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0 15px;
		}
		&__item{
			display: flex;
		}
		&__img{
			border-radius: 120px;
			width: 15px;
			height: 15px;
			background: #a9dd67;
			flex: 0 0 15px;
			margin-right: 20px;
		}
		&-text{
			flex: 1 0;
			&__title{
				font-size: 18px;
				font-weight: 400;
				padding-bottom: 10px;
			}
			&__description{
				font-size: 16px;
			}
		}
	}
}


//blog

.blog{
	&__main-title{
		padding: 70px 0 50px 0;
	}
	&-wrapper{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	&__wrap{
		flex: 0 0 50%;
		max-width: 440px;
		margin-bottom: 30px;
	}
	&__img{
		img{
			width: 440px;
			height: 245px;
			object-fit: cover;
			border-radius: 12px;
		}
	}
	&__title{
		font-weight: 600;
		font-size: 26px;
		color: #a9dd67;
		padding: 20px 0 15px 0;
	}
	&__description{
		font-size: 18px;
	}
	&__btn{
		a{
			display: flex;
			color: #3e3c3c;
			align-items: center;
			border-bottom: 1px solid #a9dd67;
			padding-bottom: 1px;
			width: fit-content;
			span{
				margin-left: 10px;
				display: block;
			}
		}
	}
	&__main-btn{
		padding: 40px 0 70px 0;
		a{
			margin: 0 auto;
		}
	}
}

//map

.map{
	&__iframe{
		position: relative;
	}
	&-info{
		position: absolute;
		top: 50%;
		left: 50%;
		height: fit-content !important;
		transform: translate(-50%, -50%);
		&__wrapper{
			max-width: 560px;
			width: 100%;
			backdrop-filter: blur(4px);
			box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.11);
			background: rgba(255, 255, 255, 0.71);
			border-radius: 32px;
			border: 0.30px solid #a9dd67;
			padding: 30px 80px 30px 30px;
		}
	}
	&__main-title{
		font-weight: 700;
		font-size: 22px;
		color: #a9dd67;
		padding-bottom: 10px;
	}
	&__description{
		font-size: 18px;
		padding-bottom: 15px;
		span{
			font-weight: 700;
		}
	}
	&-title{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		&__img{
			display: flex;
		}
		&__text{
			margin-right: 10px;
			font-size: 22px;
			color: #3e3c3c;
			text-transform: uppercase;
		}
	}
	&-link{
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		span{
			color: #2d3424;
			margin-left: 10px;
		}
	}
	&-social{
		padding-top: 20px;
		&__wrapper{
			display: flex;
			align-items: center;
			a{
				display: flex;
				margin-right: 20px;
			}
		}
	}
	&-adress{
		padding-top: 20px;
	}
}

//footer

.footer{
	padding: 30px 0;
	&-list{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	&__wrap{
		&--logo{
			flex: 20%;
			max-width: 20%;
			.header-logo__text{
				color: #3e3c3c;
			}
		}
		&--links{
			flex: 0 0 60%;
			max-width: 60%;
			.footer__item{
				display: flex;
				justify-content: space-between;
				padding: 0 30px;
			}
		}
		&--socials{
			flex: 0 0 20%;
			max-width: 20%;
		}
	}
	&-link{
		padding: 0 5px;
		&__title{
			font-size: 16px;
			color: #a9dd67;
			padding-bottom: 10px;
		}
		&__go{
			font-size: 14px;
			color: #3e3c3c;
			transition: all .3s;
			padding-bottom: 5px;
			display: block;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__socials{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		a{
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}