
.first-screen{
	background: url('../img/first.png');	
	background-size: cover;
	background-position: center;
}

.welcome{
	padding: 300px 0;
	color: #fff;
	&__title{
		font-weight: 600;
		font-size: 80px;
		span{
			color: #a9dd67;
			display: block;
		}
	}
	&__description{
		max-width: 800px;
		font-weight: 500;
		font-size: 24px;
		padding-top: 35px;
		span{
			color: #a9dd67;
		}
	}
	&-btns{
		padding-top: 50px;
		display: flex;
		flex-flow: row wrap;
		.btn-c{
			margin-right: 35px;
		}
	}
}

//about-us
.about-us{
	&-wrapper{
		display: flex;
		flex-flow: row wrap;
		padding: 70px 0;
	}
	&-text{
		flex:1 0;
	}
	&-img{
		margin-right: -220px;
	}
	&__title{
		padding-top:50px;
		font-weight: 600;
		font-size: 26px;
		color: #a9dd67;
	}
	&__description{
		font-size: 20px;
		padding: 20px 0;
	}
	&-catalog{
		display: flex;
		flex-flow: row wrap;
		&__wrap{
			padding: 0 15px;
			margin-bottom: 30px;
			flex: 0 0 50%;
			max-width: 50%;
		}
		&__title{
			font-weight: 600;
			padding: 10px 0;
		}
		&-buy{
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__btn{
				a{
					height: 30px;
					width: 120px;
					display: flex;
					border-radius: 120px;
					background: #a9dd67;
					align-items: center;
					justify-content: center;
				}
				svg{
					width: 13px;
					height: 13px;
				}
				span{
					font-size: 14px;
					margin-left: 5px;
				}
			}
		}
	}
	&__btn{
		margin-bottom: 70px;
		a{
			margin: 0 auto;
		}
	}
}

//more-info

.more-info{
	padding-top: 50px;
	&-wrap{
		display: flex;
		flex-flow: row wrap;
		padding: 0 15px;
	}
	&-img{
		flex: 0 0 500px;
	}
	&-text{
		flex: 1 0;
		padding-left: 75px;
	}
	&__subtitle{
		font-weight: 600;
		font-size: 26px;
		text-transform: uppercase;
		color: #a9dd67;
		padding: 30px 0 20px 0;
	}
	&__description{
		font-size: 20px;
		margin-bottom: 15px;
	}
	&-triggers{
		display: flex;
		flex-flow: row wrap;
		&__wrap{
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0 15px;
			margin-bottom: 30px;
		}
		&__item{
			display: flex;
			flex-flow: row wrap;
		}
		&__img{
			display: none !important;
			border-radius: 120px;
			width: 15px;
			height: 15px;
			background: #a9dd67;
			flex: 0 0 15px;
			margin: 0 0 20px 0;
		}
		&-text{
			flex: 1 0;
			&__title{
				font-size: 18px;
				font-weight: 700;
				padding-bottom: 10px;
			}
			&__description{
				font-size: 16px;
			}
		}
	}
}


//blog

.blog{
	&__main-title{
		padding: 70px 0 50px 0;
	}
	&-wrapper{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	&__wrap{
		flex: 0 0 50%;
		max-width: 440px;
		margin-bottom: 30px;
	}
	&__img{
		img{
			width: 440px;
			height: 245px;
			object-fit: cover;
			border-radius: 12px;
		}
	}
	&__title{
		font-weight: 600;
		font-size: 26px;
		color: #a9dd67;
		padding: 20px 0 15px 0;
	}
	&__description{
		font-size: 18px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-box;
		-moz-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		line-clamp: 4;
		box-orient: vertical;
	}
	&__btn{
		a{
			display: flex;
			color: #3e3c3c;
			align-items: center;
			border-bottom: 1px solid #a9dd67;
			padding-bottom: 1px;
			width: fit-content;
			span{
				margin-left: 10px;
				display: block;
			}
		}
	}
	&__main-btn{
		padding: 40px 0 70px 0;
		a{
			margin: 0 auto;
		}
	}
}

//map

.map{
	&__iframe{
		position: relative;
	}
	&-info{
		position: absolute;
		top: 50%;
		left: 50%;
		height: fit-content !important;
		transform: translate(-50%, -50%);
		&__wrapper{
			max-width: 560px;
			width: 100%;
			backdrop-filter: blur(4px);
			box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.11);
			background: rgba(255, 255, 255, 0.71);
			border-radius: 32px;
			border: 0.30px solid #a9dd67;
			padding: 30px 80px 30px 30px;
		}
	}
	&__main-title{
		font-weight: 700;
		font-size: 22px;
		color: #a9dd67;
		padding-bottom: 10px;
	}
	&__description{
		font-size: 18px;
		padding-bottom: 15px;
		span{
			font-weight: 700;
		}
	}
	&-title{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		&__img{
			display: flex;
		}
		&__text{
			margin-right: 10px;
			font-size: 22px;
			color: #3e3c3c;
			text-transform: uppercase;
		}
	}
	&-link{
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		span{
			color: #2d3424;
			margin-left: 10px;
		}
	}
	&-social{
		padding-top: 20px;
		&__wrapper{
			display: flex;
			align-items: center;
			a{
				display: flex;
				margin-right: 20px;
			}
		}
	}
	&-adress{
		padding-top: 20px;
	}
}

//footer

.footer{
	padding: 30px 0;
	&-list{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	&__wrap{
		&--logo{
			flex: 20%;
			max-width: 20%;
			.header-logo__text{
				color: #3e3c3c;
			}
		}
		&--links{
			flex: 0 0 60%;
			max-width: 60%;
			.footer__item{
				display: flex;
				justify-content: space-between;
				padding: 0 30px;
			}
		}
		&--socials{
			flex: 0 0 20%;
			max-width: 20%;
		}
	}
	&-link{
		padding: 0 5px;
		&__title{
			font-size: 16px;
			color: #a9dd67;
			padding-bottom: 10px;
		}
		&__go{
			font-size: 14px;
			color: #3e3c3c;
			transition: all .3s;
			padding-bottom: 5px;
			display: block;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__socials{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		a{
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

//adaptive
@media screen and (max-width: 1499px) {
	.header-logo__svg{
		img{
			height: 48px !important;
    		width: 48px !important;
		}
	}
	.header-logo__text {
		font-size: 19px;
		margin-left: 15px;
	}
	.welcome {
		padding: 170px 0;
	}
	.welcome__title {
		font-size: 65px;
	}
	.welcome__description {
		max-width: 700px;
		font-size: 21px;
		padding-top: 28px;
		line-height: 1.4;
	}
	.about-us-img {
		margin-right: -169px;
		flex: 0 0 730px;
	}
	.articles-all {
		padding-top: 110px;
	}
}

@media screen and (max-width: 1199px) {
	.header-navigtion li a {
		font-size: 18px;
	}
	.header-logo__text {
		font-size: 18px;
		margin-left: 15px;
	}
	.header-logo__svg img {
        height: 44px;
        width: 44px;
    }
	.welcome {
        padding: 150px 0 100px 0;
    }
	.welcome__title {
        font-size: 56px;
    }
	.about-us-img {
        flex: 0 0 630px;
    }
	.more-info-img {
		flex: 0 0 410px;
	}
}

@media screen and (max-width: 991px) {
	.about-us-catalog__wrap {
		padding: 0 8px;
		margin-bottom: 30px;
		text-align: center;
	}
	.about-us__description {
		font-size: 18px;
		padding: 20px 0;
	}
	.about-us__title {
		padding-top: 30px;
		font-size: 22px;
		color: #a9dd67;
	}
	.about-us__btn {
		margin-bottom: 40px;
	}
	.about-us-img {
        flex: 0 0 520px;
    }
	.about-us-catalog-buy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column wrap;
	}
	.about-us-catalog-buy__btn{
		margin-top: 10px;
	}
	.about-us-wrapper {
		padding: 70px 0 30px 0;
	}
	.more-info-text {
		flex: 0 0 100%;
		padding: 0 30px 0 0;
	}
	.more-info-img {
        flex: 0 0 100%;
        max-width: 420px;
        margin-bottom: 30px;
    }
	.blog__wrap {
		max-width: 50%;
		padding: 0 10px;
	}
}

@media screen and (max-width: 767px) {
    .welcome__title {
        font-size: 40px;
    }
	.welcome__description {
        font-size: 18px;
        padding-top: 25px;
		max-width: 500px;
    }
	.welcome-btns {
		padding-top: 30px;
		display: flex;
		flex-flow: column wrap;
	}
	.btn-c--second{
		margin: 20px 0 0 0;
	}
	.welcome {
        padding: 130px 0 70px 0;
    }
	.about-us-img {
        flex: 0 0 100%;
        max-width: 450px;
        margin: 0 auto;
    }
	.about-us-text {
		flex: 0 0 100%;
	}
	.more-info-img {
        flex: 0 0 100%;
        max-width: 420px;
        margin: 0 auto;
    }
	.more-info-wrap {
		display: flex;
		flex-flow: column wrap;
		padding: 0;
	}
	.more-info-triggers__wrap {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	.more-info-triggers__img {
		margin: 0 15px 0 0;
	}
	.blog__main-title {
		padding: 50px 0;
	}
	.blog-wrapper {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
	}
	.blog__wrap {
        max-width: 400px;
        padding: 0;
        margin: 0 auto 30px;
    }
	.map__description, .map-title, .map-social{
		display: none;
	}
	.map-adress {
		padding-top: 0;
	}
	.map-info__wrapper {
		max-width: 90%;
	}
	.map-info {
		position: absolute;
		top: unset;
		bottom: 15px;
		left: 50%;
		height: fit-content !important;
		transform: translate(-50%, 0);
	}
	.footer-list {
		flex-flow: column wrap;
	}
	.footer__wrap--links {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.footer__wrap--logo {
		flex: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	.map-link {
		display: flex;
		margin-bottom: 10px;
		flex-flow: row wrap;
		span {
			color: #2d3424;
			margin-left: 10px;
			flex: 1 0;
		}
	}
	.footer__wrap--links .footer__item {
		padding: 20px 0;
	}
	.footer__wrap--socials {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.footer__socials a {
		flex: 0 0 25%;
		max-width: 25%;
		text-align: center;
	}
	.footer__socials{
		justify-content: center;
	}
	.global-title__text {
        font-size: 28px !important;
    }
	.map-info__wrapper {
        max-width: 100%;
		padding: 30px 50px 30px 30px;
    }
}

@media screen and (max-width: 479px) {
	.welcome__title {
        font-size: 28px;
		text-align: center;
    }
	.welcome__description {
        font-size: 17px;
        padding-top: 20px;
		text-align: center;
    }
	.welcome-btns .btn-c {
		margin-right: 0;
	}
	.welcome-btns {
        align-items: center;
    }
	.about-us-wrapper {
        padding: 50px 0 30px 0;
    }
	.about-us__main-title{
		justify-content: center;
	}
	.about-us__title {
        padding-top: 20px;
        text-align: center;
    }
	.about-us__description {
        font-size: 17px;
        text-align: center;
    }
	.about-us-catalog {
		justify-content: center;
	}
	.about-us-img {
        max-width: 310px;
    }
	.more-info {
		padding-top: 15px;
	}
	.more-info__subtitle {
		text-align: center;
		font-size: 22px;
		padding: 20px 0
	}
	.more-info__description {
		font-size: 17px;
		margin-bottom: 15px;
		text-align: center;
	}
	.more-info__main-title{
		justify-content: center;
	}
	.more-info-text {
        flex: 0 0 100%;
        padding: 30px 0 0 0;
    }
	.more-info-triggers__item {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
	.more-info-triggers-text{
		text-align: center;
	}
	.more-info-triggers__img {
        margin: 0 0 10px 0;
        width: 25px;
        height: 25px;
        flex: 0 0 25px;
    }
	.blog__main-title {
        justify-content: center;
    }
	.blog__img img {
		width: 440px;
		height: 195px;
	}
}